/* Colors */
$color_white: #fafafa;
$color_beige: #fef7e0;
$color_platinum: #fafafa;
$color_platinum_darker: #535353;
$color_background: #f1f2f5;
$color_header: #0a0a0a;
$color_text: rgba(#0a0a0a, 0.5);
$color_dark: #0a0a0a;
$color_black: #050505;
$color_blue: #00b6cb;
$color_green: #c0d731;
$color_orange: #f15a23;