/* Fonts */
$font_family_header: 'Lobster', cursive !important; // Regular | 400
$font_family_subtitle_1: 'Marcellus SC', serif !important; // Regular | 400
$font_family_subtitle_2: 'Playball', cursive !important; // Regular | 400
$font_family_title: 'Playfair Display', serif !important; // Regular, Italic | 400, 500, 600, 700, 800, 900
$font_family_text: 'Lato', sans-serif !important; // Regular, Italic | 100, 300, 400, 700, 900